<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Django Stripe</title>
    
</head>
<body>

       

       <div class="container">
        <h2>Django Stripe</h2>

          <form action="{% url 'success' %}" method="post">
            {% csrf_token %}
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="{{ key }}"
                    data-description=" Django Stripe"
                    data-amount="500"
                    data-locale="auto"></script>
          </form>
         
       </div> 
          
     
</body>
</html>